.text{
    background-image: url("https://t3.ftcdn.net/jpg/03/72/71/80/360_F_372718076_pLwDA6fUUDDWvgETtDOr67dUymN8Nzb3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;
    width: 400%;
    height: 690px;
}