.card{
    margin: 10px;
    height: 350px;
    width: 300px;
    border: 1px solid white;
    background-color: white;
    display: inline-block;
}
.img{
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
   margin-right: auto;
}
button a{
    text-decoration: none;
    color: white;
    font-size: large;
}
